@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 85%;
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
